@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --customWhite: #fff;
  --customBlue: #05aeef;
  --customDark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto";
}

.logo {
  width: 10.25rem;
}

nav a.nav-link {
  letter-spacing: 0.03rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--customWhite) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 3px solid var(--customDark);
}

.navbar-brand {
  padding: 20px !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 3px solid var(--customBlue);
}
